.projects {
    height: 100vh;
    width: 100vw;
    max-height: 100vh;
    max-width: 100vw;
    display: flex;
    align-items: center;
    background-color: rgb(30, 0, 0);
    font-family: 'Josefin Sans';
}

.projects .title h1 {
    font-size: 80px;
    text-align: center;
    margin-left: 30px;
    width: 240px;
    color: rgb(255, 255, 255);
    text-shadow: 4px 2px 0px rgb(107, 0, 0);
}

.projects .projectsText {
    color: white;
    width: 440px;
    font-size: 20px;
    margin-left: 30px;
}
.modal-body h4 {
    color: rgb(190, 42, 42);
    font-size: 20px;
    margin-bottom: 0px;
}
.modal-header {
    border-bottom: 1px solid rgb(68, 68, 68);
}
.modal-body {
    color: white;
}
.modal-content {
    background-color: rgb(25, 25, 25);
}

#carouselExampleCaptions {
    width: 1000px;
    height: 100vh;
    background-color: grey;
}

.carousel-item {
    height: 100vh;
}
.carousel-item h5 {
    font-size: 35px;
    color:rgb(221, 0, 0) ;
    text-shadow: 2px 2px 1px rgb(255, 255, 255);
}
.carousel-item a {
    text-decoration: none;
}
.carousel-item .icons {
    position: absolute;
    bottom: 10px;
    right: 0px;
}
.carousel-item img{
    width: 35px;
    height: 35px;
    margin-right: 10px;
    transition: all .2s;
    border: 1px solid transparent;
    border-radius: 4px;
}
.carousel-item svg {
    transition: all .2s;
    border: 1px solid transparent;
    border-radius: 16px;
}
.carousel-item #githubpng {
    border-radius: 16px;
}

.carousel-item img:hover {
    border: 1px solid white;
}
.carousel-item svg:hover {
    cursor: pointer;
}
.icons #openModalbtn {
    padding: 0px;
    border-radius: 16px;
    margin-right: 10px;
    width: 35px;
}
