.whatido {
    min-height: 100vh;
    height: 100vh;
    width: 100vw;
    max-width: 100vw;
    background-color: black;
    font-family: 'Josefin Sans';
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cont1 {
    min-width: 80vh;
}

#techsContainer p {
    background-color: rgb(26, 26, 26);
    display: none;
    position: absolute;
    width: fit-content;
    border-radius: 5px;
    color: white;
    padding: 2px;
    z-index: 2;
}

#techsContainer .techAndTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
} 

.whatido h1 {
    font-size: 80px;
    text-align: center;
    margin-left: 30px;
    width: 240px;
    color: rgb(143, 61, 61);
    text-shadow: 4px 2px 0px white;
}

.whatido #title #boxTitle {
    width: 200px;
    border-bottom: 2px solid rgb(33, 0, 0);
    background-color: rgb(22, 0, 0);
    transform: skew(-20deg);
    margin-left: -4px;
    margin-bottom: -2px;

}
.whatido #title {
    width: 350px;
    background-color: rgb(22, 0, 0);
    border: 2px solid rgb(33, 0, 0);
    transform: skew(20deg);
    margin-bottom: 40px;
    transition: all .5s; 
}
.whatido #title:hover {
    width: 400px;
}

#textWhatido {
    color: white;
    width: 440px;
    font-size: 20px;
    margin-left: 30px;
}

#techsContainer {
    display: flex;
    margin-left: 300px;
    background-color: rgb(22, 0, 0);
    align-items: center;
    height: 100vh;
    border-left: 2px solid rgb(33, 0, 0);
    border-right: 2px solid rgb(33, 0, 0);
}

#techsContainer img {
    width: 65px;
    transition: all .3s;
    height: 70px;
    margin: 15px;
}
#techsContainer img:hover {
    transform: scale(115%);
}
#techsContainer img:hover ~ p {
    display: block;
}

.techs1 {
    display: flex;
    flex-direction: column;
}
.techs2 {
    display: flex;
    flex-direction: column;
}
.keepDown {
    text-align: center;
    margin-right: 150px;
    width: 100px;
}
.keepDown h3 {
    color: rgba(255, 255, 255, 0.386);
    font-size: 60px;
}

.keepDown h2 {
    color: rgba(255, 255, 255, 0.386);
    font-size: 60px;
    padding-left: 40px;
    animation: selectDown 1s infinite reverse;
}

@keyframes selectDown {
    50% {
        transform: translateY(-15%);
    }
}