.Navbar {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: space-around;
    right: 5%;
    margin-top: 50px;
    align-items: center;
    width: 70px;
    height: 600px;
    background-color: orange;
}

.navitem a {
    margin: 20px;
    font-family: 'Rubik';
    text-decoration: none;
    color: gray;
    border-bottom: 1px solid orange;
    padding-bottom: 2px;
}

.navitem a:hover{
    color: black;
    border-bottom: 1px solid black;
}